header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  min-height: 8vh;
}

.nav-ul {
  display: inline-flex;
  list-style: none;
  height: 100%;
}

.nav-ul a:hover {
  border-bottom: 5px solid cornflowerblue;
  border-top: 5px solid cornflowerblue;
}

.nav-ul a {
  color: whitesmoke;
  height: 100%;
  text-decoration: none;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}
a:hover {
  background-color: whitesmoke;
  color: black;
}
